@using System.Reflection
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@inject IConfiguration Config
@inject IViewLocalizer Loc
@inject IOptionsSnapshot<MessagesOptions> MessagesOptions

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    @if (!(ViewData["RobotsAllowIndex"] is bool and true))
    {
        <meta name="robots" content="noindex"/>
    }
    <title>
        @string.Join(" - ", new[] { ViewData["Title"] as string, "WaterAlarm" }.Where(s => !string.IsNullOrEmpty(s)))
    </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap-icons/bootstrap-icons.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Site.styles.css" asp-append-version="true"/>
    <link rel="manifest" href="~/manifest.json">
    
    @if (Config["GoogleAnalytics"] is {} googleAnalytics)
    {
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-QJTVPL3P9K"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '@googleAnalytics');
        </script>
    }
    <script>
    function replaceQueryParam(param, newval, search)
    {
        var regex = new RegExp("([?;&])" + param + "[^&;]*[;&]?");
        var query = search.replace(regex, "$1").replace(/&$/, '');
        return (query.length > 2 ? query + "&" : "?") + (newval ? param + "=" + newval : '');
    }

    function addOrUpdateUrlParam(name, value)
    {
        window.location = window.location.pathname + replaceQueryParam(name,  value,  window.location.search);
    }
    </script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            @* <a class="navbar-brand" asp-area="" asp-page="/Index">WaterAlarm</a> *@
            <div class="navbar-brand">WaterAlarm</div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex flex-row justify-content-md-start">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/auto">@Loc["My sensors"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Docs">@Loc["Documentation"] <span class="badge bg-warning">beta</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="https://blog.wateralarm.be">
                            @Loc["News blog"] 
                            <svg style="display: inline-block; width: 1em; height: 1em;" viewbox="0 0 48 48">
                                <path d="M36 24c-1.2 0-2 0.8-2 2v12c0 1.2-0.8 2-2 2h-22c-1.2 
                                0-2-0.8-2-2v-22c0-1.2 0.8-2 2-2h12c1.2 0 2-0.8 2-2s-0.8-2-2-2h-12c-3.4 
                                0-6 2.6-6 6v22c0 3.4 2.6 6 6 6h22c3.4 0 6-2.6 
                                6-6v-12c0-1.2-0.8-2-2-2z"></path>
                                <path d="M43.8 5.2c-0.2-0.4-0.6-0.8-1-1-0.2-0.2-0.6-0.2-0.8-0.2h-12c-1.2 
                                0-2 0.8-2 2s0.8 2 2 2h7.2l-18.6 18.6c-0.8 0.8-0.8 2 0 2.8 0.4 0.4 0.8 
                                0.6 1.4 0.6s1-0.2 1.4-0.6l18.6-18.6v7.2c0 1.2 0.8 2 2 2s2-0.8 
                                2-2v-12c0-0.2 0-0.6-0.2-0.8z"></path>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            
            <div class="navbar-collapse collapse d-sm-inline-flex flex-row-reverse justify-content-between">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/auto?update=true">@Loc["Set link"]
                            </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="theme-icon-active bi bi-sun-fill"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <button class="dropdown-item d-flex align-items-center" type="button" data-bs-theme-value="light">
                                    <i class="bi bi-sun-fill me-2"></i>
                                    Light
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item d-flex align-items-center" type="button" data-bs-theme-value="dark">
                                    <i class="bi bi-moon-stars-fill me-2"></i>
                                    Dark
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item d-flex align-items-center" type="button" data-bs-theme-value="auto">
                                    <i class="bi bi-circle-half me-2"></i>
                                    Auto
                                </button>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @Loc["Language"]
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="#" onclick="addOrUpdateUrlParam('culture', 'nl-BE'); return false;">nl</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" onclick="addOrUpdateUrlParam('culture', 'en-BE'); return false;">en</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>
<div class="container">
    @if (MessagesOptions.Value?.Messages is {} messages)
    {
        int dismissRepeatInterval = (int)(MessagesOptions.Value.DismissRepeatInterval ?? TimeSpan.FromDays(365)).TotalSeconds;
        @foreach (var message in messages.Where(m => m.ExpirationUtc > DateTime.UtcNow))
        {
            string alertClass;
            switch(message.Type)
            {
                case Message.TypeEnum.Primary: alertClass = "primary"; break;
                case Message.TypeEnum.Secondary: alertClass = "secondary"; break;
                default:
                case Message.TypeEnum.Success: alertClass = "success"; break;
                case Message.TypeEnum.Danger: alertClass = "danger"; break;
                case Message.TypeEnum.Warning: alertClass = "warning"; break;
                case Message.TypeEnum.Info: alertClass = "info"; break;
                case Message.TypeEnum.Light: alertClass = "light"; break;
                case Message.TypeEnum.Dark: alertClass = "dark"; break;
            }
            <dismissable-alert id="@message.Id" repeat="@dismissRepeatInterval" expiration="@message.ExpirationUtc" alert-class="@alertClass">
                @Html.Raw(@message.Contents["*"])
            </dismissable-alert>
        }
    }

    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; @DateTime.Now.Year - <a href="https://www.foxinnovations.be/">Fox Innovations</a> / <a href="mailto:info@wateralarm.be">Wim Devos</a>
        @* - <a asp-area="" asp-page="/Privacy">Privacy</a> *@
        <span class="grayout" style="white-space: nowrap;">
            - v@(ThisAssembly.Git.SemVer.Major + "." + ThisAssembly.Git.SemVer.Minor + "." + ThisAssembly.Git.Commits
                       + "-" + ThisAssembly.Git.Branch + "+" + ThisAssembly.Git.Commit
                       + " " + ThisAssembly.Git.CommitDate.Substring(0, 10))
            <a href="/Info">&pi;</a>
        </span>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/clipboard.js/dist/clipboard.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", false)
</body>
</html>