@using Microsoft.AspNetCore.Mvc.Localization
@model Site.Utilities.MeasurementEx
@inject IViewLocalizer Loc

@{
    var uniqueId = Guid.NewGuid().ToString("N");
}

<div>
    <div>
        <svg id="fillGauge-@uniqueId" width="200" height="200" onclick=""></svg>
    </div>

    @{
        var levelFraction = Model.Distance.LevelFraction;
        var realLevelFraction = Model.Distance.RealLevelFraction;
        var waterL = Model.Distance.WaterL;
        var height = Model.Distance.HeightMm;
        var timestamp = Model.Timestamp;
    }

    @{
        string size = "xx-large";
    }
    @if (waterL.HasValue)
    {
        <div style="font-size: @size">@Math.Round(waterL.Value, 0) @Loc["liter"]</div>
        size = "large";
    }
    @if (realLevelFraction.HasValue)
    {
        <div style="font-size: @size">@Math.Round(realLevelFraction.Value * 100.0, 1)%</div>
        size = "large";
    }
    @if (height.HasValue)
    {
        <div style="font-size: @size">@height.Value @Loc["mm"]</div>
    }
    <div>@timestamp.ToLocalTime().ToString("G")</div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="~/js/LiquidFillGauge.js"></script>

@if (levelFraction.HasValue || height.HasValue)
{
    int maxValue;
    double value;
    bool displayPercent;
    if (levelFraction.HasValue)
    {
        value = Math.Round(levelFraction.Value * 100.0);
        maxValue = 100;
        displayPercent = true;
    }
    else
    {
        value = height ?? 100;
        maxValue = height ?? 100;
        displayPercent = false;
    }
    
    <script>
        var config = liquidFillGaugeDefaultSettings();
        
        config.circleColor = "#1ca3ec"
        config.textColor = "#74ccf4"
        config.waveTextColor = "#bbeeff"
        config.waveColor = "#1ca3ec"
        config.warningThreshold = .4;
        config.waveCount = 4;
        config.waveRiseTime = 60;
        config.waveAnimateTime = 6000;
        config.displayPercent = @(displayPercent ? "true" : "false");
        config.maxValue = @maxValue;
        config.valueCountUp = false;
        config.waveRise = false;
        config.waveAnimate = false;

        var gauge = loadLiquidFillGauge("fillGauge-@uniqueId", @value, config);
    </script>
}