@using Microsoft.AspNetCore.Mvc.Localization
@model Site.ViewComponents.MeasurementDetailsModel
@inject IViewLocalizer Loc

<div class="grayout">
    <div>
        DevEui:
        <span id="devEui">@Model.AccountSensor.Sensor.DevEui</span>
        &nbsp;
        <button type="button" class="btn btn-clipboard" title="Copy to clipboard" data-clipboard data-clipboard-target="#devEui">
            <i class="bi bi-clipboard" aria-hidden="true"></i>
        </button>
    </div>
    @if (Model.MeasurementLevelEx != null)
    {
        <div>@Loc["Distance"]: @Model.MeasurementLevelEx.Distance.DistanceMm mm</div>
        <div>
            @Loc["RSSI"]: @Model.MeasurementLevelEx.RssiDbm dBm
            - @Math.Round(Model.MeasurementLevelEx.RssiPrc, 0)%
        </div>
        <div>
            @Loc["Battery"]: @Model.MeasurementLevelEx.BatV V
            - @Math.Round(Model.MeasurementLevelEx.BatteryPrc, 0)%
        </div>
    }
    @if (Model.AccountSensor.CapacityL.HasValue)
    {
        <div>@Loc["Capacity"]: @Model.AccountSensor.CapacityL.Value liter</div>
    }
    @if (Model.AccountSensor.ResolutionL.HasValue)
    {
        <div>@Loc["Resolution"]: @Math.Round(Model.AccountSensor.ResolutionL.Value, 2) @Loc["liter (1 mm)"]</div>
    }
    @if (Model.AccountSensor is { DistanceMmFull: not null,DistanceMmEmpty: not null })
    {
        <div>@Loc["Distance Full"]: @Model.AccountSensor.DistanceMmFull.Value mm</div>
        <div>@Loc["Distance Empty"]: @Model.AccountSensor.DistanceMmEmpty.Value mm</div>
    }
</div>