@using Core.Util
@using Microsoft.AspNetCore.Mvc.Localization
@model Site.ViewComponents.MeasurementDetailsModel
@inject IViewLocalizer Loc

<div class="grayout">
    <div>
        DevEui:
        <span id="devEui">@Model.AccountSensor.Sensor.DevEui</span>
        &nbsp;
        <button type="button" class="btn btn-clipboard" title="Copy to clipboard" data-clipboard data-clipboard-target="#devEui">
            <i class="bi bi-clipboard" aria-hidden="true"></i>
        </button>
    </div>
    @if (Model.MeasurementEx != null)
    {
        <div>
            @Loc["RSSI"]: @Model.MeasurementEx.RssiDbm dBm
            - @Math.Round(Model.MeasurementEx.RssiPrc, 0)%
        </div>
        <div>
            @Loc["Battery"]: @Model.MeasurementEx.BatV V
            - @Math.Round(Model.MeasurementEx.BatteryPrc, 0)%
        </div>
    }
    @if (Model.AccountSensor.Sensor.SupportsDistance)
    {
        @if (Model.MeasurementEx is MeasurementLevelEx measurementLevelEx)
        {
            <div>@Loc["Distance"]: @measurementLevelEx.Distance.DistanceMm mm</div>
        }
    }
    @if (Model.AccountSensor.Sensor.SupportsCapacity)
    {
        @if (Model.AccountSensor.CapacityL.HasValue)
        {
            <div>@Loc["Capacity"]: @Model.AccountSensor.CapacityL.Value liter</div>
        }
    }
    @if (Model.AccountSensor.Sensor.SupportsCapacity && Model.AccountSensor.Sensor.SupportsDistance)
    {
        @if (Model.AccountSensor.ResolutionL.HasValue)
        {
            <div>@Loc["Resolution"]: @Math.Round(Model.AccountSensor.ResolutionL.Value, 2) @Loc["liter (1 mm)"]</div>
        }
    }
    @if (Model.AccountSensor.Sensor.SupportsDistance)
    {
        @if (Model.AccountSensor is { DistanceMmFull: not null,DistanceMmEmpty: not null })
        {
            <div>@Loc["Distance Full"]: @Model.AccountSensor.DistanceMmFull.Value mm</div>
            <div>@Loc["Distance Empty"]: @Model.AccountSensor.DistanceMmEmpty.Value mm</div>
        }
    }
</div>