@using Microsoft.AspNetCore.Mvc.Localization
@using Site.ViewComponents
@model MeasurementDisplayModel<Core.Util.MeasurementDetectEx>
@inject IViewLocalizer Loc

@{
    var uniqueId = Guid.NewGuid().ToString("N");
    var measurement = Model.Measurement;
    var backgroundClass = Model.IsOldMeasurement ? " bg-warning-inline" : "";
}

<style>
.bg-warning-inline {
    background-color: orange;
    display: inline-block;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}
</style>

<div>
    <div>
        <svg id="fillGauge-@uniqueId" width="200" height="200" onclick=""></svg>
    </div>

    @{
        var status = (int?)measurement.Status;
        var timestamp = measurement.Timestamp;
    }

    @if (status.HasValue)
    {
        <div style="font-size: large">
            @if (status.Value != 0)
            {
                <span class="text-danger">@Loc["Water gedetecteerd"]</span>
            }
            else
            {
                <span class="text-success">@Loc["Geen water gedetecteerd"]</span>
            }
        </div>
    }
    <div class="@backgroundClass">@timestamp.ToLocalTime().ToString("G")</div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="~/js/LiquidFillGauge.js"></script>

@if (status.HasValue)
{
    int maxValue;
    double value;
    bool displayPercent;
    value = Math.Round(status.Value * 100.0);
    maxValue = 100;
    displayPercent = true;
    string colorCircle, colorText;
    if (status.Value == 0)
    {
        colorCircle = "#198754";
        colorText = "#198754";
    }
    else
    {
        colorCircle = "#ff3333";
        colorText = "#ff6666";
    }
    
    <script>
        var config = liquidFillGaugeDefaultSettings();
        
        config.circleColor = "@colorCircle"
        config.textColor = "@colorText"
        config.waveTextColor = "#000000"
        config.waveColor = "@colorCircle"
        config.warningThreshold = .4;
        config.waveCount = 4;
        config.waveRiseTime = 60;
        config.waveAnimateTime = 6000;
        config.displayPercent = @(displayPercent ? "true" : "false");
        config.maxValue = @maxValue;
        config.valueCountUp = false;
        config.waveRise = false;
        config.waveAnimate = false;

        var gauge = loadLiquidFillGauge("fillGauge-@uniqueId", @value, config);
    </script>
}
