@using Microsoft.AspNetCore.Mvc.Localization
@using Site.ViewComponents
@model MeasurementDisplayModel<Core.Util.MeasurementThermometerEx>
@inject IViewLocalizer Loc

@{
    var uniqueId = Guid.NewGuid().ToString("N");
    var measurement = Model.Measurement;
    var backgroundClass = Model.IsOldMeasurement ? " bg-warning-inline" : "";
}

<style>
.bg-warning-inline {
    background-color: orange;
    display: inline-block;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}
</style>

<div>
    @{
        var tempC = (double?)measurement.TempC;
        var humPrc = (double?)measurement.HumPrc;
        var timestamp = measurement.Timestamp;
    }

    @if (tempC.HasValue)
    {
        <div style="font-size: xx-large">@Math.Round(tempC.Value, 1) @Loc["°C"]</div>
    }
    @if (humPrc.HasValue)
    {
        <div style="font-size: size">@humPrc.Value @Loc["%"]</div>
    }
    <div class="@backgroundClass">@timestamp.ToLocalTime().ToString("G")</div>
</div>
