@page
@using System.Globalization
@model Info

@{
    Layout = "Shared/_Layout";
}

<table style="display: block">
    <tr>
        <td><strong>RequestHost</strong></td><td>@Model.RequestHost</td>
    </tr>
    <tr>
        <td><strong>Server</strong></td><td>@Model.Server</td>
    </tr>
    <tr>
        <td><strong>Version</strong></td><td>@Model.Version</td>
    </tr>
    <tr>
        <td><strong>OsVersion</strong></td><td>@Model.OsVersion</td>
    </tr>
    <tr>
        <td><strong>DotNetVersion</strong></td><td>@Model.DotNetVersion</td>
    </tr>
    <tr>
        <td><strong>UserAuthId</strong></td><td>@Model.UserAuthId</td>
    </tr>
    <tr>
        <td><strong>UserAgent</strong></td><td>@Model.UserAgent</td>
    </tr>
    <tr>
        <td><strong>Culture</strong></td><td>@CultureInfo.CurrentCulture.Name</td>
    </tr>
    <tr>
        <td><strong>UICulture</strong></td><td>@CultureInfo.CurrentUICulture.Name</td>
    </tr>
    <tr>
        <td><strong>DateTime</strong></td><td>@DateTime.Now.ToLongDateString() @DateTime.Now.ToLongTimeString()</td>
    </tr>
    <tr>
        <td><strong>DateTimeUTC</strong></td><td>@DateTime.UtcNow.ToLongDateString() @DateTime.UtcNow.ToLongTimeString()</td>
    </tr>
</table>