@page
@using System.Globalization
@model Info

@{
    Layout = "Shared/_Layout";
}

<table style="display: block">
    <tr>
        <td>RequestHost</td><td>@Model.RequestHost</td>
    </tr>
    <tr>
        <td>Server</td><td>@Model.Server</td>
    </tr>
    <tr>
        <td>Version</td><td>@Model.Version</td>
    </tr>
    <tr>
        <td>OsVersion</td><td>@Model.OsVersion</td>
    </tr>
    <tr>
        <td>DotNetVersion</td><td>@Model.DotNetVersion</td>
    </tr>
    <tr>
        <td>UserAuthId</td><td>@Model.UserAuthId</td>
    </tr>
    <tr>
        <td>Culture</td><td>@CultureInfo.CurrentCulture.Name</td>
    </tr>
    <tr>
        <td>UICulture</td><td>@CultureInfo.CurrentUICulture.Name</td>
    </tr>
    <tr>
        <td>DateTime</td><td>@DateTime.Now.ToLongDateString() @DateTime.Now.ToLongTimeString()</td>
    </tr>
    <tr>
        <td>DateTimeUTC</td><td>@DateTime.UtcNow.ToLongDateString() @DateTime.UtcNow.ToLongTimeString()</td>
    </tr>
</table>